/* COLORS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* To take into account change of default browser font size 10/16 *100 = 62.5*/
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* ANIMATIONS */
@keyframes animateBox {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1; }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateX(10prem); }
  70% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #0A0708; }

.heading-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  backface-visibility: hidden;
  color: #fff;
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  text-align: center; }
  .heading-primary--main {
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
            animation-delay: 3s
            animation-iteration-count: 3;
        */ }
  .heading-primary--name {
    font-weight: 700;
    color: #6cd306; }
  .heading-primary--sub {
    display: block;
    animation: moveInRight 1s ease-out; }

.btn:link, .btn:visited {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  display: inline-block;
  /* transition property must be defined in the initial state to work*/
  transition: all .2s; }

.btn:hover {
  border: none;
  background-color: #6cd306;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn--white {
  padding: 1rem 2.5rem;
  border: 0.2rem solid #fff; }

.btn--animated {
  animation: moveInButton .7s ease-out 0.8s;
  animation-fill-mode: backwards; }

.header {
  position: relative;
  /* Maybe not, comment it later*/
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .header__animation-container {
    z-index: -10;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, rgba(177, 177, 177, 0.8), rgba(68, 68, 68, 0.8)), url("../images/hero_image.jpg");
    background-size: cover;
    background-position: top; }
  .header__animation-list div {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 0.8); }
    .header__animation-list div:nth-child(1) {
      top: 12%;
      left: 42%;
      animation: animateBox 10s linear infinite; }
    .header__animation-list div:nth-child(2) {
      top: 50%;
      left: 50%;
      animation: animateBox 7s linear infinite; }
    .header__animation-list div:nth-child(3) {
      top: 17%;
      left: 6%;
      animation: animateBox 9s linear infinite; }
    .header__animation-list div:nth-child(4) {
      top: 20%;
      left: 60%;
      animation: animateBox 10s linear infinite; }
    .header__animation-list div:nth-child(5) {
      top: 67%;
      left: 10%;
      animation: animateBox 6s linear infinite; }
    .header__animation-list div:nth-child(6) {
      top: 80%;
      left: 70%;
      animation: animateBox 12s linear infinite; }
    .header__animation-list div:nth-child(7) {
      top: 60%;
      left: 80%;
      animation: animateBox 15s linear infinite; }
    .header__animation-list div:nth-child(8) {
      top: 32%;
      left: 25%;
      animation: animateBox 16s linear infinite; }
    .header__animation-list div:nth-child(9) {
      top: 90%;
      left: 25%;
      animation: animateBox 9s linear infinite; }
    .header__animation-list div:nth-child(10) {
      top: 20%;
      left: 80%;
      animation: animateBox 5s linear infinite; }
  .header__text-box {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__btn-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); }
